
.para {
  margin-left: 11.5vw;
  margin-top: 5vh;
}

.asunto {
  margin-left: 10.5vw;
  margin-top: 2vh;
}

.mensaje {
  margin-left: 10vw;
  margin-top: 2vh;
}

.myButton {
  margin-left: 17vw;
  margin-top: 5vh;
}
