
.email {
  margin-left: 220px;
  margin-top: 35px;
}

.nombre {
  margin-left: 205px;
  margin-top: 25px;
}

.contrasena {
  margin-left: 180px;
  margin-top: 35px;
}

.contrasena2 {
  margin-left: 100px;
  margin-top: 35px;
}

.myButton {
  margin-left: 330px;
  margin-top: 35px;
}
